.logoField {
  display: flex;
  max-width: 200px;
  height: 64px;
  background: none;
}
.logo {
  width: 80px;
  padding: 0 1rem;
}
.logoBrand {
  width: 120px;
  padding: 1rem 1rem 1rem 0;
  overflow: hidden;
}
